.git
.gitignore
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.python-version
.env
.env.*
!.env.example
dist
build
htmlcov
coverage.xml
tests
documents
postgres_schema
